<div class='profile'>
	<h1> Máx Carrión - Desarrollador Web.</h1>
</div>
<div class='profile2'>
	<img src="grumpy-cat.jpg" style="margin-left: 10px"/>
	<h1> Programador Web <h1>
</div>
<a href="about"> Acerca de mi </a>